In [5]:
% matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

UsageError: Line magic function `%` not found.

In [6]:
# create csv url
url = "https://nyctaxifaredataset.s3-us-west-1.amazonaws.com/train.csv"

#define chunk size
c_size = 10 ** 6

In [7]:
# load the train csv in smaller chunks
for gm_chunk in pd.read_csv(url,chunksize=c_size):
    print(gm_chunk.shape)

(1000000, 8)
(1000000, 8)
(1000000, 8)
(1000000, 8)
(1000000, 8)
(1000000, 8)
(1000000, 8)
(1000000, 8)
(1000000, 8)
(1000000, 8)
(1000000, 8)
(1000000, 8)
(1000000, 8)
(1000000, 8)
(1000000, 8)
(1000000, 8)
(1000000, 8)
(1000000, 8)
(1000000, 8)
(1000000, 8)
(1000000, 8)
(1000000, 8)
(1000000, 8)
(1000000, 8)
(1000000, 8)
(1000000, 8)
(1000000, 8)
(1000000, 8)
(1000000, 8)
(1000000, 8)
(1000000, 8)
(1000000, 8)
(1000000, 8)
(1000000, 8)
(1000000, 8)
(1000000, 8)
(1000000, 8)
(1000000, 8)
(1000000, 8)
(1000000, 8)
(1000000, 8)
(1000000, 8)
(1000000, 8)
(1000000, 8)
(1000000, 8)
(1000000, 8)
(1000000, 8)
(1000000, 8)
(1000000, 8)
(1000000, 8)
(1000000, 8)
(1000000, 8)
(1000000, 8)
(1000000, 8)
(1000000, 8)
(423856, 8)

In [44]:
# overview of data types within the dataset
train_df = gm_chunk
train_df.tail(2)

,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
55423854,2011-10-26 05:57:51.0000002,28.9,2011-10-26 05:57:51 UTC,-73.980901,40.764629,-73.870605,40.773963,1
55423855,2014-12-12 11:33:00.00000015,7.5,2014-12-12 11:33:00 UTC,-73.969722,40.797668,-73.970885,40.783313,1

In [41]:
# overview of datatypes
train_df.dtypes

key                   object
fare_amount          float64
pickup_datetime       object
pickup_longitude     float64
pickup_latitude      float64
dropoff_longitude    float64
dropoff_latitude     float64
passenger_count        int64
dtype: object

In [42]:
# checking statistical features
train_df.describe()

,fare_amount,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
count,423856.000000,423856.000000,423856.000000,423855.000000,423855.000000,423856.000000
mean,11.331471,-72.511388,39.915168,-72.512560,39.927845,1.685398
std,9.689168,12.028677,8.913306,12.263423,10.970121,1.308255
min,-23.300000,-2959.462187,-2541.548795,-2593.367637,-3115.274397,0.000000
25%,6.000000,-73.992129,40.734932,-73.991402,40.734030,1.000000
50%,8.500000,-73.981833,40.752676,-73.980171,40.753106,1.000000
75%,12.500000,-73.967087,40.767092,-73.963746,40.768065,2.000000
max,300.000000,73.863260,2371.279908,1196.891612,3359.841550,9.000000

In [43]:
# train_df = train_df.query("fare_amount >=0")
train_df = train_df[train_df.fare_amount>=0]

train_df.head(2)

,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
55000000,2009-06-30 09:25:00.00000094,6.5,2009-06-30 09:25:00 UTC,-73.990421,40.718843,-74.000060,40.727895,1
55000001,2009-09-28 18:04:43.0000001,5.7,2009-09-28 18:04:43 UTC,-73.974759,40.749067,-73.983955,40.736129,1

In [36]:
print(train_df.isnull().sum())

key                  0
fare_amount          0
pickup_datetime      0
pickup_longitude     0
pickup_latitude      0
dropoff_longitude    0
dropoff_latitude     0
passenger_count      0
dtype: int64